@using PagedList.Mvc;
@model PagedList.IPagedList<OnlineAptitudeTest.Models.Candidate>

@{
    ViewBag.Title = "Candidate";
    Layout = "~/Views/Shared/_ManagerLayout.cshtml";
}
<div class="outer-w3-agile col-xl mt-3 mr-xl-3">
    <h3 class="main-title-w3layouts mb-2 text-center">Candidate List</h3>
    <div id="content">

        @if (TempData["CandidateID"] != null && (bool)TempData["CandidateID"])
        {
            <span class="timer success">@TempData["statusCAN"]</span>
        }
        else
        {
            <span class="timer failed">@TempData["statusCAN"]</span>
        }

        <hr />
        <span style="color:green" class="font-weight-bold">@Html.ActionLink("Create new candidate", "CreateCandidate", "Manager")</span>
        <hr />
        @using (Html.BeginForm("Candidate", "Manager"))
        {
            <div>
                <span>Search by name: </span>
                <input type="text" name="txtSearch" />
                <input type="submit" value="Search" class="btn btn-success" />
            </div>
        }
        <hr />
        <table class="table table-bordered">
            <thead class="thead-dark">
                <tr>
                    <th>
                        ID
                    </th>
                    <th>
                        Name
                    </th>
                    <th>
                        Email
                    </th>
                    <th>
                        Gender
                    </th>
                    <th>
                        Phone
                    </th>
                    <th>
                        Pass
                    </th>
                    <th>
                        Final Score
                    </th>

                    <th width="300px">Action</th>
                </tr>
            </thead>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.CandidateID)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Email)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Gender)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Phone)
                    </td>

                    <td>
                        @{
                            string mess = "";
                            if (@item.Pass == null)
                            {
                                mess = "";
                            }
                            else
                            {
                                if (@item.Pass == 1)
                                {
                                    mess = "Yes";
                                }
                                else
                                {
                                    if (@item.Pass == 0)
                                    {
                                        mess = "No";
                                    }
                                }

                            }
                        }
                        @mess
                    </td>
                    <td>
                        @String.Format("{0:0.00}", item.FinalScore)
                    </td>

                    <td>
                        @Html.ActionLink("Edit", "EditCandidate", new { id = item.CandidateID }, new { @class = "btn btn-info" })
                        @Html.ActionLink("Details", "DetailCandidate", new { id = item.CandidateID }, new { @class = "btn btn-success" })
                        @Html.ActionLink("Delete", "DeleteCandidate", new { id = item.CandidateID }, new { @class = "btn btn-danger" })
                    </td>
                </tr>
            }

        </table>
        <!-- Thêm mã phân trang -->
        <br />
        Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) / @Model.PageCount

        @Html.PagedListPager(Model, page => Url.Action("Candidate",
            new { page }))
        <!-- Kết thúc -->
    </div>
</div>