
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_ManagerLayout.cshtml";
}


<div class="outer-w3-agile col-xl mt-3 mr-xl-3">
    <h3 class="main-title-w3layouts mb-2 text-center">Dashboard</h3>
    <br />
    <div id="content">

        <section class="pricing-tables">
            <div class="card-deck text-center row">
                <div class="card box-shadow col-xl-3 col-md-3">
                    <div class="card-header">
                        <h5 class="py-md-4 py-xl-3 py-2">Candidate</h5>
                    </div>
                    <div class="card-body">
                        <h5 class="card-title pricing-card-title">
                            <span class="align-top">@ViewBag.CountCan candidates</span>
                        </h5>
                        <a class="btn btn-lg btn-block btn-outline-primary py-2" href="@Url.Action("Candidate", "Manager")">Show all</a>
                    </div>
                </div>
                <div class="card box-shadow col-xl-3 col-md-3 my-lg-0 my-3">
                    <div class="card-header">
                        <h5 class="py-md-4 py-xl-3 py-2">General Knowledge</h5>
                    </div>
                    <div class="card-body">
                        <h5 class="card-title pricing-card-title">
                            <span class="align-top">@ViewBag.CountGen questions</span>
                        </h5>
                        <a class="btn btn-lg btn-block btn-outline-primary py-2" href="@Url.Action("GeneralKnowledge", "Manager")">Show all</a>
                    </div>
                </div>
                <div class="card box-shadow col-xl-3 col-md-3 my-lg-0 my-3">
                    <div class="card-header">
                        <h5 class="py-md-4 py-xl-3 py-2">Mathematics</h5>
                    </div>
                    <div class="card-body">
                        <h5 class="card-title pricing-card-title">
                            <span class="align-top">@ViewBag.CountMath questions</span>
                        </h5>
                        <a class="btn btn-lg btn-block btn-outline-primary py-2" href="@Url.Action("Mathematics", "Manager")">Show all</a>
                    </div>
                </div>
                <div class="card box-shadow col-xl-3 col-md-3">
                    <div class="card-header">
                        <h5 class="py-md-4 py-xl-3 py-2">Computer Technology</h5>
                    </div>
                    <div class="card-body">
                        <h5 class="card-title pricing-card-title">
                            <span class="align-top">@ViewBag.CountCom questions</span>
                        </h5>
                        <a class="btn btn-lg btn-block btn-outline-primary py-2" href="@Url.Action("ComputerTechnology", "Manager")">Show all</a>
                    </div>
                </div>
            </div>
            <!--//  Pricing tables1 -->
        </section>
    </div>

    <!--// Error Page Content -->
</div>